<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About</h2>
      <p>
        This is a blogging platform developed using Node.js and MongoDB,
        following the MVC architecture. It enables you to create and delete blog
        posts, with all your data stored and updated in the MongoDB database.
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
